# Project-specific ignore items
glados/src/glados
glados/cmake_install.cmake   # contains absolute file references


# Generic ignorables
.*
.DS_Store
*.coverage
*.egg-info
*.log

# ignore vim swp files and gedit temp files
*.swp
*.*~

# ignore python compiled files
*.pyc
*.pyo

*.zip
*.cc
*/files/*
*/tmp/*
*.hwm*
*.cfg
.svn
build
bin
lib
cpp
*/lib/*
installed
patched
wiped
msg_gen
srv_gen
