## ROS ignorables ##
build
bin
lib
*/lib/*
installed
patched
wiped
msg_gen
srv_gen

## Eclipse ignorables ##
.cproject
.project
.pydevproject
cmake_install.cmake
Debug
Release
.settings

## Generic ignorables ##
.DS_Store
*.coverage
*.egg-info
*.log

# ignore vim swp files and gedit temp files
*.swp
*~
*#
.#*
*.asv

# ignore python compiled files
*.pyc
*.pyo

# some more ignores
*.zip
*.cc
*/tmp/*
*.hwm*
*.cfg
.svn
