## Generic ignorables ##
.DS_Store
*.coverage
*.egg-info
*.log

# ignore vim swp files and gedit temp files
*.swp
*~

# ignore python compiled files
*.pyc
*.pyo

*.zip
*.cc
*/tmp/*
*.hwm*
*.cfg
.svn
Debug
Release
.settings
build
bin
lib
*/lib/*
installed
patched
wiped
msg_gen
srv_gen
