<launch>
	<!-- Stub launch file for testing out the Dragonfly camera -->
	<node name="camera1394_node" pkg="camera1394" type="camera1394_node">
		<param name="guid" value="00b09d01005c5123"/>
		<param name="video_mode" value="1024x768_rgb8"/>
	</node>
	 <node name="cam_cone_finder" pkg="glados_sensors" type="cam_cone_find.py">
        </node>
</launch>

