<launch>
	<node name="motor" pkg="motor" type="motor_node" />

<!--   GPSD client information for connecting to  -->
 	<node name="gpsd_client" pkg="glados_sensors" type="gpsd_client.py"  />

	<node name="cam" pkg="camera1394" type="camera1394_node" _video_mode="800x600_rgb8" _guid="00b09d01005c5123" />
	<node name="imu" pkg="rosserial_python" type="serial_node.py" args="/dev/ttyUSB1" />
</launch>
