<launch>
	<!-- GPS and compass code for a fixed-world frame of reference -->
 	<node name="gpsd_client" pkg="glados_sensors" type="gpsd_client.py"  />
	<node name="gps_to_utm" pkg="gps_common" type="utm_odometry_node">
		<remap from="odom" to="odom_gps" />
		<remap from="fix" to="/gps/fix" />
		<param name="rot_covariance" value="99999" />
		<!-- TODO: what should we set the base_footprint to (needs Kalman Filter insight) -->
		<param name="frame_id" value="base_footprint" />
	</node>
	<node name="imu" pkg="rosserial_python" type="serial_node.py" args="/dev/ttyUSB1" />
	<!-- TODO: This node subscribes to /odom_gps and /imu, and merges them into a single
	           nav_msgs/Odometry msg on the /vo topic -->
	<!--<node name="gps_imu_node" pkg="glados" type="gps_imu_node.py" />-->
</launch>
